<mat-card id="membershipList-container">
    @for (membership of membershipList; track membership.id) {
        <div>
            <mat-card class="membership-card" appearance="outlined">    
                <mat-card-content>
                    <mat-icon svgIcon="motorcycle"></mat-icon>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-title>{{ membership.client }}</mat-card-title>
                    <br>
                        {{ membership.vehicleType }}
                    <br>
                        {{ membership.plate }}
                </mat-card-footer>
            </mat-card>
        </div>
    }
</mat-card>
