#membershipList-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin: 10px; 
    padding: 20px;
}

.membership-card {
    background: #FAD201;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px;
}

.membership-card:hover {
    background: #F54021;
    cursor: pointer;
}

mat-card-content {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.mat-mdc-card-content:first-child {
    padding-top: 0;
}

mat-card-title {
    height: 100px;
}

mat-card-footer {
    margin: auto;
    text-align: center;
    text-wrap: wrap;
}

mat-card-content > mat-icon {
    width: 100px;
    height: 100px;
}

.add-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.add-button {
    color: white;
}

#loading {
    color: #FAD201;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}