<mat-card id="membershipList-container">
    @if (isLoadingList) {
        <div id="loading">
        <mat-spinner></mat-spinner>
        <br>
        <p>Cargando información...</p>
        </div>
    }
    @for (membership of membershipList; track membership.id) {
        <div>
            <mat-card 
            class="membership-card" 
            appearance="outlined"
            routerLink="/membership/{{ membership.id }}"
            >    
                <mat-card-content>
                    <mat-icon svgIcon="motorcycle"></mat-icon>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-title>{{ membership.client }}</mat-card-title>
                    <div>
                        {{ membership.vehicleType | titlecase }}
                        <br>
                        {{ membership.plate }}
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    }
</mat-card>

<div>
    <button 
    (click)="addMembership()"
    type="button" 
    class="add-button" 
    mat-fab 
    extended>
        <mat-icon>add</mat-icon>
        Agregar
    </button>
</div>