<mat-card appearance="outlined">
    <mat-card-header id="header">
        <mat-card-title id="add-billing-title">
            Agregar pago de membresía
        </mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
        <form id="add-billing-form" [formGroup]="addBillingForm">
            <mat-form-field id="billedBy">
                <mat-label>Responsable:</mat-label>
                <input matInput formControlName="billedBy">
            </mat-form-field>
            <br>
            <mat-form-field id="comment">
                <mat-label>Comentarios</mat-label>
                <textarea matInput formControlName="comment"></textarea>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="button-container">
        <button class="button" id="cancel-button" [mat-dialog-close]="true" mat-raised-button>
            Cancelar
        </button>
        <button class="button" id="save-button" mat-raised-button (click)="saveBilling()" [disabled]="!this.addBillingForm.valid">
            Guardar
        </button>
    </mat-card-actions>
</mat-card>