mat-card, mat-card-footer {
    margin: 10px 20px;
}

.membership-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.membership-content > div {
    width: 50%;
}

.add-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

*, .add-button {
    color: white;
}

#cliente-name {
    color: #FAD201;
}