mat-card {
    margin: 10px; 
    padding: 10px;
}

#still-parking {
    color: red;
}

.example-loading-shade {
  display:flex;       
  justify-content:center; 
  align-items:center;
  flex-direction: column;
}