#input-card, #input-card > *, button {
    margin: auto;
  }

#input-card {
    width: 80%;
    max-width: 500px;
    height: fit-content;
    margin-top: 40px;
}

mat-card-actions, mat-card-header, mat-card-content, mat-card-footer {
    padding: 20px;
}

#comment-container {
    width: 100%;
}